.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}
.Checkout__ad {
  width: 100%;
}
.Checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.Checkout__bar {
  margin-top: 20px;
}